# 정형 데이터마이닝 (data: weatherAUS)

### 1. 데이터의 요약값을 보고 NA값이 10,000개 이상인 열을 제외하고 남은 변수 중 NA값이 있는 행을 제거하시오. 그리고 AUS 데이터의 Data 변수를 Data형으로 변호나하고, 전처리가 완료된 weatherAUS 데이터를 train(70%), test(30%)로 분할하시오 - set.seed(6789)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_aus = pd.read_csv("/content/drive/MyDrive/data/adp/weatherAUS.csv")
df_aus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 21 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   WindGustDir    132863 non-null  object
 6   WindGustSpeed  132923 non-null  float64
 7   WindDir9am     132180 non-null  object
 8   WindDir3pm     138415 non-null  object
 9   WindSpeed9am   140845 non-null  float64
 10  WindSpeed3pm   139563 non-null  float64
 11  Humidity9am    140419 non-null  float64
 12  Humidity3pm    138583 non-null  float64
 13  Pressure9am    128179 non-null  float64
 14  Pressure3pm    128212 non-null  float64
 15  Cloud9am       88536 non-null   float64
 16  Cloud3pm       85099 non-null   float64
 17  Temp9am        141289 non-null  float64
 18  Temp3pm        139467 non-null  float64
 19  RainToday      140787 non-null  object
 20  RainTomorrow   142193 non-null  object
dtypes: float64(14), object(7)
memory usage: 22.8+ MB

In [4]:
## NA 개수가 10,000 개 이상인 열을 제외
for i in df_aus.columns:
  if df_aus[i].isna().sum()>=10000: df_aus.drop([i], axis = 1, inplace = True)
len(df_aus.columns)

16

In [5]:
## 결측값이 존재하는 행을 모두 제거
df_aus.dropna(inplace = True)
len(df_aus)

128576

In [6]:
## Data 변수를 Date 형으로 변환
df_aus.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No           No
1  2008-12-02   Albury      7.4  ...     24.3         No           No
2  2008-12-03   Albury     12.9  ...     23.2         No           No
3  2008-12-04   Albury      9.2  ...     26.5         No           No
4  2008-12-05   Albury     17.5  ...     29.7         No           No

[5 rows x 16 columns]

In [7]:
import datetime

df_aus['Date'] = pd.to_datetime(df_aus['Date'],format = '%Y-%m-%d') 
## format 설정 참고 : %Y %m %d %H - hour(24) %M - Minutes %S - Seconds %f - Microseconds

In [8]:
df_aus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128576 entries, 0 to 142192
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           128576 non-null  datetime64[ns]
 1   Location       128576 non-null  object
 2   MinTemp        128576 non-null  float64
 3   MaxTemp        128576 non-null  float64
 4   Rainfall       128576 non-null  float64
 5   WindGustDir    128576 non-null  object
 6   WindGustSpeed  128576 non-null  float64
 7   WindDir3pm     128576 non-null  object
 8   WindSpeed9am   128576 non-null  float64
 9   WindSpeed3pm   128576 non-null  float64
 10  Humidity9am    128576 non-null  float64
 11  Humidity3pm    128576 non-null  float64
 12  Temp9am        128576 non-null  float64
 13  Temp3pm        128576 non-null  float64
 14  RainToday      128576 non-null  object
 15  RainTomorrow   128576 non-null  object
dtypes: datetime64[ns](1), float64(10), object(5)
memory usage: 16.7+ MB

In [13]:
## train test 7:3으로 분리하기
from sklearn.model_selection import train_test_split

train_X, test_X, train_y, _y = train_test_split(df_aus.iloc[:,:-1], df_aus[['RainTomorrow']], test_size = 0.3, random_state = 6789)

### 2. train 데이터로 종속변수인 RainTomorrow(다음날의 강수 여부)를 예측하는 분류모델을 3개 이상 생성하고 test 데이터에 대한 예측값을 csv파일로 각각 제출하시오.