1. latitude 데이터를 저위도지역(-30 ~ 0, 0 ~ 30), 중위도지역(-60 ~ 30, 30 ~ 60) 으로 각각 범주화하고, 범위 바깥에 있는 데이터를 삭제하시오. 'latitude'와 'incomeLevel' 의 2개 독립변수가 종속변수 Score에 미치는 영향을 검정하시오.
2. 'incomeLevel' 범주를 기준으로 각 그룹의 수치형 데이터('Overall rank', 'GDP per capita' 제외)의 기술통계량(평균, 표준편차, 왜도 첨도)을 정리하시오.
3. Score', 'GDP per capita', 'Social support', 'Healthy life expectancy', 'Freedom to make life choices', 'Generosity', 'Perceptions of corruption'의 7개 변수 분포 그래프를 그리고, 변수 간 상관관계 매트리스를 만드시오. 
4. 종속변수 Score에 대한 탐색적요인분석(factor analysis)을 수행하고 결과를 해석하시오.

In [ ]:
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
df = pd.read_csv('/content/WHR.csv')
df.head()

   Overall rank Country or region  Score  ...  incomeLevel  longitude  latitude
0             1           Finland  7.769  ...  High income   24.95250   60.1608
1             2           Denmark  7.600  ...  High income   12.56810   55.6763
2             3            Norway  7.554  ...  High income   10.73870   59.9138
3             4           Iceland  7.494  ...  High income  -21.89520   64.1353
4             5       Netherlands  7.488  ...  High income    4.89095   52.3738

[5 rows x 14 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Overall rank                  156 non-null    int64
 1   Country or region             156 non-null    object
 2   Score                         156 non-null    float64
 3   GDP per capita                156 non-null    float64
 4   Social support                156 non-null    float64
 5   Healthy life expectancy       156 non-null    float64
 6   Freedom to make life choices  156 non-null    float64
 7   Generosity                    156 non-null    float64
 8   Perceptions of corruption     156 non-null    float64
 9   name                          136 non-null    object
 10  region                        136 non-null    object
 11  incomeLevel                   136 non-null    object
 12  longitude                     136 non-null    float64
 13  latitude                      136 non-null    float64
dtypes: float64(9), int64(1), object(4)
memory usage: 17.2+ KB

###1. latitude 데이터를 저위도지역(-30 ~ 0, 0 ~ 30), 중위도지역(-60 ~ 30, 30 ~ 60) 으로 각각 범주화하고, 범위 바깥에 있는 데이터를 삭제하시오. 'latitude'와 'incomeLevel' 의 2개 독립변수가 종속변수 Score에 미치는 영향을 검정하시오.

In [ ]:
df.loc[(df['latitude']>=-30) & (df['latitude']<=30), 'latitude'] = '저위도지역'
df.loc[(df['latitude']>=-60)& (df['latitude']<-30), 'latitude'] ='중위도지역'
df.loc[(df['latitude']>30)& (df['latitude']<=60), 'latitude'] ='중위도지역'

## 데이터 타입이 float인 데이터를 드롭하면 됨
df = df[df['latitude'].]

In [13]:
df['latitude'][0].dtype()

TypeError: ignored